[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
seaborn = "*"
mlproject = {editable = true, file = "file:///home/dhruvi/dhruvi/mlproject"}
catboost = "*"
scikit-learn = "*"
xgboost = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "2.7"
